*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
the-corona-fighters-game/images/** filter=lfs diff=lfs merge=lfs -text
the-corona-fighters-game/media/** filter=lfs diff=lfs merge=lfs -text
the-corona-fighters-game/** filter=lfs diff=lfs merge=lfs -text
